/* Universal */

*, *::before, *::after  {
    font-family: 'Yatra One', cursive;
    box-sizing: border-box; 
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 90%;
    margin: 0 auto;
}


/* Typography */

.first-letter {
    font-size: 2em; 
    font-weight: bold;
}


/* HR Lines */

.hr-top-thin {
    height: 0.1em;
    width: 100vw;
    background-color: black;
    margin-top: 0.5em;
}

.hr-top-thick {
    height: 0.5em;
    width: 100vw;
    background-color: black;
}

.hr-top-thin-reduction {
    margin-bottom: 0.5em;
}

hr {
    width: 95%;
    margin: 0 auto;
}

.sloped-hr { 
    height: 30px; 
    border-style: solid; 
    border-color: black; 
    border-width: 0.5em 0 0  0; 
    border-radius: 10em; 
  }

  .slant-hr {
    opacity: 0.7;
    border-top: 0.5em dotted black;
    border-bottom: 0.5em dotted #DCDCDC;  
}

.hr-scandal-thin {
    height: 0.1em;
    background-color: black;
}

.hr-scandal-thick {
    height: 0.5em;
    background-color: black;
}

#hr-margin {
    margin-bottom: 2em;
}

.hr-weather-thin {
    height: 0.1em;
    background-color: black;
    margin: 0;
    width: 100%;
}

.hr-weather-thick {
    height: 0.5em;
    background-color: black;
    margin-bottom: 0.5em;
    width: 100%;
}

.sport-report hr {
    margin-top: 3em;
}


/* Padding */

.padd {
    padding: 0 2em;
}


/* Header */

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.the-container {
    /* width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: 5vh;
    
}

#the {
  padding: 0 0.5em;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  background-color: white;
  position: relative;
  display: inline-block;
  transform: translateX(-50%); 
  top: -1.95em;
  left: 50%;
  text-transform: uppercase;
}

#top h1 {
    text-transform: uppercase;
    font-size: 6em;
    margin-top: -1em;
}

#top p {
    font-size: 1.5em;
    margin-top: -2.5em;
}


/* Exclusive */

.exclusive {
    background-color: black;
    margin-top: 4em;
}

.exclusive h2 {
    color: white;
    text-transform: uppercase;
    margin-left: 1em;
}

.helms-deep {
    border: 6px black solid;
}

.helms-deep h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 1000;
}

#full-story {
    background-color: black;
    color: white;
    padding-right: 1em;
    text-align: right;
    margin: 0 auto;
}

.exclusive-container p {
    font-size: 0.8em;
    text-indent: 5em;    
}


/* Scandal */

.scandal-container {
    border: 6px solid black;
    margin-top: 4em; 
}

#scandal h2 {
    text-transform: uppercase;
    font-size: 3.25em;
    text-align: center;
}

#scandal h3 {
    font-weight: 1000;
}

.gandalf-fig {
    width: 100%;
    margin: 0 auto;
}

#gandalf-img {
    width: 95%;   
    margin: 2em auto;
    display: block;
}

#gandalf-name span{
    background-color: black;
    color: white;
    padding: 0 1em;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-left: 2em;
}

.scandal-container p {
    font-size: 0.8em;
    text-indent: 1.75em;
}

.gandalf-quote h3 {
  text-transform: uppercase;
  font-size: 2.2em;
  margin: 0.1em 0;
}

#gandalf-quote-q,
.potd p {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-indent: 1.75em;
}


/* Sport Report */

.sport-report {
    border: 6px solid black;
    margin-top: 4em;
}

.sport-report-title {
    background-color: black;
    color: white;
}

.sport-report-title h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    font-size: 3.75em;
    margin: 0 auto;
    padding-top: 0.5em;
}

.sport-report-title h3 {
    text-align: center;
    font-size: 0.75em;
    margin-top: 0;
    padding-bottom: 1.5em;
}

.sport-report p {
    text-indent: 5em;
}


/* Photo Of The Day */

.potd {
    border: solid 6px black;
    margin: 0 auto;
    margin: 4em auto 5em auto;  
}

.potd h2,
.potd h3 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.potd h2 {
    padding: 0.75em 0;
    font-size: 4em;
    text-transform: uppercase;
}

.potd h3 {
    padding: 1em 0;
    font-size: 0.90em;
}

.potd img {
    width: 100%;   
    margin: 0 auto;
    display: block;
}

.potd p {
    margin: 2em auto;
}


/* Weather */

.weather-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#weather {
  padding: 0 0.5em;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.75rem;
  background-color: white;
  position: relative;
  display: inline-block;
  transform: translateX(-50%); 
  top: -1.90em;
  left: 50%;
}

.weather-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: -10em;   
}

.weather-cities p {
    font-size: 9rem;
    font-weight: 1000;
}

.weather-cities p span {
    font-size: 3rem;
    font-weight: 1000;
    position: absolute;   
}

.weather-cities h3 {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
}

.weather-hot,
.weather-middle,
.weather-cold {
    margin: 0.5em auto 0 auto;
}

.weather-hot {
    text-shadow: 6px 0 3px red;
}

.weather-middle {
    text-shadow: 6px 0 3px grey;
}

.weather-cold {
    text-shadow: 6px 0 3px blue;
}


/* Footer */

footer {
    border: 6px solid black;
    margin: 4em auto;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    margin: 4em auto;
    text-transform: uppercase;
}

.footer-links span {
    color: white;
    background-color: black;
    font-size: 1.25em;
    border: 2px black solid;
    width: 25px;
    height: 25px;
    padding: 10px 30px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1em;
    transition: all .7s; 
}

.footer-links span:hover {
    background-color: white;
    color: black;
    border: 1px grey solid;
}

.footer-links li {
    margin-bottom: 2em;
}

.footer-links li a {
    text-decoration: none;
    color: black;
}

.footer-links li a:visited {
    text-decoration: none;
    decoration: none;
}




/* Media Queries */