* {
    font-family: 'Yatra One', cursive;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

body {
    width: 90%;
    margin: 0 auto;
}


/* Header */

#top {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* border: 1px black solid; */
}

.the-container {
    /* width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: 5vh;
    
}

.hr-top-thin {
    height: 0.1em;
    width: 100vw;
    background-color: black;
}

.hr-top-thick {
    height: 0.5em;
    width: 100vw;
    background-color: black;
}

.hr-top-thin-reduction {
    margin-bottom: -0.04em;
}

#the {
  padding: 0 0.5em;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  background-color: white;
  position: relative;
  display: inline-block;
  transform: translateX(-50%); 
  top: -2.30em;
  left: 50%;
  text-transform: uppercase;
}

#top h1 {
    text-transform: uppercase;
    font-size: 6em;
    margin-top: -1em;
}

#top p {
    font-size: 1.5em;
    margin-top: -2.5em;
}


/* Exclusive */

.exclusive {
    background-color: black;
    margin-top: 4em;
}

.exclusive h2 {
    color: white;
    text-transform: uppercase;
}

.helms-deep {
    border: 6px black solid;
}

.helms-deep h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 1000;
}

.helms-deep h3 {
    background-color: black;
    color: white;
    padding-right: 1em;
    text-align: right;
    margin-bottom: 0;
}

.sloped-hr { 
    height: 30px; 
    border-style: solid; 
    border-color: black; 
    border-width: 0.5em 0 0  0; 
    border-radius: 10em; 
  }

  .exclusive-container p {
    text-indent: 6em;
    font-size: 0.8em;
}

/* Scandal */

.scandal-container {
    border: 6px solid black;
    margin-top: 4em;
}

#scandal h2 {
    text-transform: uppercase;
    font-size: 3.25em;
    text-align: center;
}

#scandal h3 {
    font-weight: 1000;
}

.slant-hr {
    opacity: 0.7;
    border-top: 0.5em dotted black;
    border-bottom: 0.5em dotted #DCDCDC;
    margin: 2em 0;
}

.hr-scandal-thin {
    height: 0.1em;
    background-color: black;
}

.hr-scandal-thick {
    height: 0.5em;
    background-color: black;
}

#gandalf-name {
    background-color: grey;
}

.scandal-container p {
    text-indent: 6em;
    font-size: 0.8em;
}


/* Sport Report */
.sport-report {
    border: 1px solid black;
}

.sport-report-title {
    border: 1px solid black;
}

.sport-report hr {
    height: 0.25em;
    background-color: black;
}


/* Photo Of The Day */
.potd {
    border: solid 1px black;
}

.potd-title {
    background-color: grey;
}


/* Weather */
.weather-container {
    width: 100%;
}

.hr-weather-thin {
    height: 0.1em;
    background-color: black;
}

.hr-weather-thick {
    height: 0.5em;
    background-color: black;
}

#weather {
  padding: 0 0.5em;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  background-color: white;
  position: relative;
  display: inline-block;
  transform: translateX(-50%); 
  top: -2.30em;
  left: 50%;
}

.weather-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    list-style-type: none;
    text-align: center;
}

.weather-cities p {
    font-size: 9rem;
    font-weight: 1000;
}

.weather-cities p span {
    font-size: 3rem;
    font-weight: 1000;
    position: absolute;   
}

.weather-cities h3 {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* padding: 0.375em 0 0.1875em 0; */
    margin: 0;
}

.weather-hot {
    text-shadow: 6px 0 3px red;
}

.weather-middle {
    text-shadow: 6px 0 3px grey;
}

.weather-cold {
    text-shadow: 6px 0 3px blue;
}

/* Footer */

footer {
    border: 1px solid black;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    
}

.footer-links span {
    color: white;
    background-color: black;
    font-size: 1.25em;
    border: 2px black solid;
    width: 25px;
    height: 25px;
    padding: 10px 30px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1em;
 
}

.footer-links li {
    margin-bottom: 2em;
}

.footer-links li a {
    text-decoration: none;
    color: black;
}

.footer-links li a:visited {
    text-decoration: none;
    decoration: none;
}