/* Universal */

*, *::before, *::after  {
    font-family: 'Yatra One', cursive;
    box-sizing: border-box;    
}

html,
body {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 90%;
    margin: 0 auto;
}


/* Typography */

.first-letter {
    font-size: 2em; 
    font-weight: bold;
}


/* HR Lines */

.hr-top-thin {
    height: 0.25em;
    width: 100vw;
    background-color: black;
    margin-top: 0.25em;
}

.hr-top-thick {
    height: 0.5em;
    width: 100vw;
    background-color: black;
}

.hr-top-thin-reduction {
    margin-bottom: 0.25em;
}

hr {
    width: 95%;
    margin: 0 auto;
}

.sloped-hr { 
    height: 30px; 
    border-style: solid; 
    border-color: black; 
    border-width: 0.5em 0 0  0; 
    border-radius: 10em; 
  }

  .slant-hr {
    opacity: 0.7;
    border-top: 0.5em dotted black;
    border-bottom: 0.5em dotted #DCDCDC;  
}

.hr-scandal-thin {
    height: 0.25em;
    background-color: black;
    margin-top: 0.2em;
    width: 100%;
}

.hr-scandal-thick {
    height: 0.5em;
    background-color: black;
    width: 100%;
}

#hr-margin {
    margin-bottom: 1em;
    margin-top: 0.2em;
    width: 100%;
}

.hr-weather-thin {
    height: 0.25em;
    background-color: black;
    margin: 0;
    width: 100%;
}

.hr-weather-thick {
    height: 0.5em;
    background-color: black;
    margin-bottom: 0.25em;
    width: 100%;
}

.sport-report hr {
    margin-top: 1.25em;
}


/* Padding */

.padd {
    padding: 0 1em;
}


/* Header */

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.the-container {
    padding-top: 3vh;   
}

#the {
  padding: 0 0.05em 0 0.5em;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.75rem;
  background-color: white;
  position: relative;
  display: inline-block;
  transform: translateX(-50%); 
  top: -2.1em;
  left: 50%;
  text-transform: uppercase;
}

#top h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-top: -1.25em;
}

#top p {
    font-size: 0.75em;
    margin-top: -2.5em;
}


/* Exclusive */

.exclusive {
    background-color: black;
    margin-top: 1.5em;
}

.exclusive h2 {
    color: white;
    text-transform: uppercase;
    margin-left: 0.75em;
    margin-bottom: 0.5em;
}

.helms-deep {
    border: 6px black solid;
}

.helms-deep h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 1000;
}

#full-story {
    background-color: black;
    color: white;
    padding-right: 1em;
    text-align: right;
    margin: 0 auto;
}

.exclusive-container p {
    font-size: 1em;
    text-indent: 1.75em;  
    margin-top: 0;  
}


/* Scandal */

.scandal-container {
    border: 6px solid black;
    margin-top: 2em; 
}

#scandal h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

#scandal h3 {
    font-weight: 1000;
    margin-top: 0;
}

.gandalf-fig {
    width: 100%;
    margin: 0 auto;
}

#gandalf-img {
    width: 100%;   
    margin: 1em auto;
    display: block;
}

#gandalf-name span{
    background-color: black;
    color: white;
    padding: 0 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
        /* margin-left: 2em; */
}

#gandalf-name {
    margin: 0 0 0.5em 0;
}

.scandal-container p {
    font-size: 1em;
    text-indent: 1.75em;
}

.gandalf-quote h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

#gandalf-quote-q,
.potd p {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-indent: 1.75em;
}


/* Sport Report */

.sport-report {
    border: 6px solid black;
    margin-top: 2em;
}

.sport-report-title {
    background-color: black;
    color: white;
}

.sport-report-title h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    font-size: 1.75em;
    margin: 0 auto;
    padding-top: 0.25em;
}

.sport-report-title h3 {
    text-align: center;
    font-size: 0.75em;
    margin-top: 0;
    padding-bottom: 1em;
}

.sport-report p {
    text-indent: 1.75em;
    margin-top: -1em;
}


/* Photo Of The Day */

.potd {
    border: solid 6px black;
    margin: 0 auto;
    margin: 2em auto 2em auto;  
}

.potd h2,
.potd h3 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.potd h2 {
    padding: 0.5em 0;
    font-size: 1.5em;
    text-transform: uppercase;
}

.potd h3 {
    padding: 0.5em 0;
    font-size: 0.75em;
}

.potd img {
    width: 100%;   
    margin: 0 auto;
    display: block;
}

.potd p {
    margin: 1em auto;
}


/* Weather */

.weather-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#weather {
  padding: 0 0.5em;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.3em;
  background-color: white;
  position: relative;
  display: inline-block;
  transform: translateX(-50%); 
  top: -2.25em;
  left: 50%;
}

.weather-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: -4em;   
}

.weather-cities p {
    font-size: 3em;
    font-weight: 1000;
}

.weather-cities p span {
    font-size: 0.4em;
    font-weight: 1000;
    position: absolute;   
}

.weather-cities h3 {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
}

.weather-hot,
.weather-middle,
.weather-cold {
    margin: 0.5em auto 0 auto;
}

.weather-hot {
    text-shadow: 3px 0 1.5px hsla(0,100%,50%, 0.6);
}

.weather-middle {
    text-shadow: 3px 0 1.5px hsla(60,100%,50%, 0.4);
}

.weather-cold {
    text-shadow: 3px 0 1.5px hsla(240,100%,50%, 0.6);
}


/* Footer */

footer {
    border: 6px solid black;
    border-bottom: 0;
    margin: 2em auto 1em auto;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    margin: 2em auto;
    padding: 0;
    text-transform: uppercase;
}

.footer-links span {
    color: white;
    background-color: black;
    font-size: 1em;
    border: 2px black solid;
    width: 1em;
    height: 0.5em;
    padding: 0.01em 0.5em;
    border-radius: 50%;
    text-align: center;
    margin-left: 0.5em;
    transition: all .7s; 
}

.footer-links span:hover {
    background-color: white;
    color: black;
    border: 1px grey solid;
}

.footer-links li {
    margin-bottom: 1em;
}

.footer-links li a {
    text-decoration: none;
    color: black;
}

.footer-links li a:visited {
    text-decoration: none;
    decoration: none;
}

.end {
    background-color: black;
    color: grey;
    text-align: center;
    font-size: 0.75em;
}




/* Media Queries */

/* 500px (Font Increase) */
@media only screen and (min-width: 500px)  {
    
    /* Header */
    #top h1 {
        font-size: 3.9em;
        margin-top: -0.85em;
    }
    
    #top p {
        font-size: 1.2em;
        margin-top: -2.5em;
    }

    /* Exclusive */
    .helms-deep h2 {
        font-size: 1.75em;
    }

    /* Scandal */
    #scandal h2,
    .gandalf-quote h3 {
        font-size: 2em;
    }

    #gandalf-name {
        font-size: 1.5em;
    }

    /* Sport Report */
    .sport-report-title {
    font-size: 1.5em;
    }

    /* POTD */
    .potd h2 {
        font-size: 2em;
    }

    .potd h3 {
        font-size: 1.1em;
    }
}


/* Tablet Breakpoint */
@media only screen and (min-width: 768px) {
    /* Header */
    #the {
        font-size: 1.5em;
        top: -2em;
        padding-right: 0.25em;
    }
    
    #top h1 {
        font-size: 6.05em;
        margin-top: -0.85em;
    }

    #top p {
        font-size: 1.25em;
        margin-top: -4em;
        letter-spacing: 0.225em;
    }

    /* Exclusive */
    .exclusive-wrapper {
        height: 50vh;
        margin-top: 2em;
    }

    .exclusive {
        float: left;
        width: 15vw;
        height: 53.25vh;
        margin: 0;
        background-color: black;   
    }

    .exclusive h2 { 
        transform: rotate(270deg);
        font-size: 3.75em;
        letter-spacing: 0.15em; 
        font-weight: 10000;
        background-color: black;
        margin-top: 5.5em;
        margin-left: 0.2em;
        margin-bottom: 0;
        
    }

    .helms-deep {
        float: right;
        width: 72.5vw;
        height: 50vh;
        display: grid;
        grid-template-columns: 39% 1% 60%;
        grid-template-areas: 
        "title border p";
    }

    .helms-deep h2 {
        grid-area: title;
        font-size: 1.25em;
        font-weight: 200;
        padding: 0 0.5em;
    }

    .helms-deep span {
        font-size: 1.65em;
        letter-spacing: 0.1em;
        font-weight: bold;
        /* padding: 0 0.5em; */
    }

    .helms-deep hr {
        display: none;
    }

    .helms-deep p {
        grid-area: p;
        margin-top: 1em;
        margin-right: 0;
        padding: 0 0.5em;
    }

    .border {
        grid-area: border;
        background-color: black;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #full-story {
        padding-right: 0.5em;
        text-align: right;
        margin-right: 0;
        width: 72.5vw;
        height: 3.25vh;
        font-size: 1.25em;
        letter-spacing: 0.1em;
    }


    /* Scandal */
    #scandal h2 {
        font-size: 3em;
        margin: 0.5em auto;
    }

    .scandal-container h3 {
        font-size: 1.25em;
    }

    .left {
        float: left;
        width: 47.5%;
        padding-bottom: 1em;
    }

    .right {
        float: right;
        width: 47.5%;
        padding-top: 1em;
    }

    .scandal-br {
        display: none;
    }

    .gandalf-fig h3 {
        font-size: 2.5em;
        letter-spacing: 0.05em;
        font-weight: 1000;
        text-align: center;
        margin-bottom: 0;
    }

    #gandalf-name {
        margin: 0;
    }

    #gandalf-quote-q {
        padding: 0.5em 5em;
        font-size: 1.25em;
    }


    /* Sport Report */
    .sport-report {
        float: right;
        width: 39%;
        height: 95vh;
    }

    .sport-report p {
        font-size: 0.8em;
    }


    /* POTD */
    .potd {
        float: left;
        width: 60%;
        height: 95vh;
    }


    /* Weather */
    .weather-cities {
        grid-template-columns: repeat(3, 1fr);    
    }


    /* Footer */
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0.5em 0;
    }

    .footer-links li {
        margin:  1em;
        font-size: 1em
    }
}


/* 850px (Font Increase) */
@media only screen and (min-width: 900px) {
  
    /* Exclusive */
    .helms-deep h2 {
        font-size: 1.6em;
    }

    .helms-deep p {
        font-size: 1.1em;
    }


    /* Sport Report */
    .sport-report p {
        font-size: 0.85em;
    }


    /* Footer */
    .end {
        font-size: 0.85em;
        letter-spacing: 0.15em;
    }
}


/* 1000px (Font Increase) */
@media only screen and (min-width: 1000px) {

/* Sport Report */
.sport-report p {
    font-size: 0.97em;
}
}


/* 1100px (Font Increase) */
@media only screen and (min-width: 1100px) {
    
    /* Exclusive */
    .exclusive h2 {
        margin-top: 5.25em;

    }
    
    .helms-deep h2 {
        font-size: 1.85em;
    }

    .helms-deep p {
        font-size: 1.2em;
    }
}


/* 1200px (Font Increase) */
@media only screen and (min-width: 1200px) {
    
    /* Exclusive */
    .exclusive h2 {
        margin-top: 5.15em;
    }
    
   .sport-report {
        height: 98vh;
   }

   .potd {
       height: 98vh;
   }
}



/* Desktops/Laptops */
@media only screen and (min-width: 1224px) {

    /* Header */
    #top h1 {
       font-size: 8em;
       letter-spacing: 0.122em;
       margin-top: -0.75em;
    }

    #top p {
       font-size: 2em;
       margin-bottom: 0.25em;
    }


    /* Exclusive */
    .exclusive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 23vh;
        margin: 0;
    }

    .exclusive h2 {
        font-size: 2.5em;
        letter-spacing: 0;
        margin: 0 auto;
        text-align: center;
        transform: rotate(360deg);
    }

    .helms-deep {
        float: right;
        width: 69vw;
        height: 20vh;
        display: grid;
        grid-template-columns: 29% 1% 70%;
    }

    .helms-deep h2 {
        font-size: 1.2em;
        margin: 0;
    }

    .helms-deep span {
        font-size: 1.85em;
    }

    .helms-deep p {
        column-count: 2;
        font-size: 0.82em;
        margin: 0 auto;
        padding: 0.5em;
    }

    .helms-deep br {
        display: none;
    }

    .border {
        height: 19vh;
    }

    .exclusive-wrapper {
        height: 20vh;
    }

    #full-story {
        width: 69vw;
        height: 3vh;
    }


    /* Scandal */
    .left {
        float: none;
    }

    .right {
        float: none;
    }

    .scandal-br {
        display:flex;
    }

    .scandal-container p {
        float: left;
    }

    .gandalf-fig {
        float: right;
    }
}
